#calendar-container {
    display: flex;
}

#calendar {
    padding: 10px;
}

#navigator {
    padding: 10px;
}

button {
    margin-right: 10px;
    margin-left: 10px;
}

#header {
    padding: 10px;
}